<!DOCTYPE html>
{% load static %}
{% load tailwind_cli %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <!-- Tailwind CSS -->
    {% tailwind_css %}
    <!-- Alpine.js -->
    <script defer src="{% static 'js/alpinejs-3.14.8/dist/cdn.min.js'%}"></script>
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
  </body>
</html>