<!DOCTYPE html>
{% load static %}

{% comment %} Load django bootstraps {% endcomment %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Alpine.js -->
    <script defer src="{% static 'plugins/alpinejs-3.14.8/dist/cdn.min.js'%}"></script>
    <c-layout.css>{{ css }}</c-layout.css>
  </head>
  <body>
    <div class="d-flex flex-column">
      <c-navbar />
      <div class="d-flex flex-row overflow-hidden">
        <c-sidebar />
        <div>{{slot}}</div>
      </div>
    </div>
    <c-layout.js>{{ js }}</c-layout.js>
    <script src="{% static 'js/sidebar.js' %}"></script>
  </body>
</html>