<!DOCTYPE html>
{% load static %}
{% load tailwind_cli %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <!-- Tailwind CSS -->
    {% tailwind_css %}
    <!-- Alpine.js -->
    <script defer src="{% static 'plugins/alpinejs-3.14.8/dist/cdn.min.js'%}"></script>
    <!-- DaisyUI-->
    <link href="{% static 'plugins/daisyui-5.0.2/daisyui.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/daisyui-5.0.2/theme.css'%}" rel="stylesheet" type="text/css" />
    <c-layout.css>{{ css }}</c-layout.css>
  </head>
  <body>
    <div class="flex flex-col">
      <c-navbar />
      <div class="flex flex-row">
        <c-sidebar />
        <div>{{slot}}</div>
      </div>
    </div>
    <c-layout.js>{{ js }}</c-layout.js>
    <script src="{% static 'plugins/flyonui-2.0.1/flyonui.js' %}"></script>
  </body>
</html>